body {
    padding: 0px;
    margin: 0px;
}

.hero {
    background-image: url("imag1.png");
    background-size: cover;
    height: 800px;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
}

.head {
    display: inline-flex;
    justify-content: space-between;
    /*position: fixed;*/
}

nav {
    margin: 20px;
    padding-right: 50px;
}

nav>a {
    padding: 15px;
    text-decoration: none;
    color: white;
}

.logo {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.menu:hover {
    background-color: rgb(144, 240, 144);
    transform: scale(1.1);
    color: white;
}

.para {
    width: 300px;
    margin-top: 200px;
    margin-left: 50px;
    color: white;
    font-size: x-large
}

.btn {
    margin-left: 50px;
    background-color: blueviolet;
    color: white;
    width: 130px;
    height: 40px;
    border-radius: 15px;
    border-color: blueviolet;
}

.mini_para {
    text-align: center;
}

.mini_para>p {
    margin-left: 335px;
    margin-right: 335px;
}

.first {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 30px;
}

.content-div {
    text-align: center;
    margin: 10px;
    padding: 30px;
    background-color: rgb(251, 253, 253);
    border-radius: 20px;
}

.first-second {
    display: flex;
    justify-content: center;
    gap: 200px;
    position: relative;
    top: 30px;
}

.ordi {
    width: 500px;
}

.second-para-titre {
    width: 300px;
}

.second-para {
    width: 300px;
}

li {
    list-style: disc;
}

.second-second {
    display: flex;
    justify-content: center;
    gap: 200px;
    position: relative;
    top: 70px;
}

.footer {
    background-color: rgb(243, 241, 241);
}


/*li.special {
    color: orange;
    font-weight: bold;
}

li.special,
span.special {
    color: orange;
    font-weight: bold;
}

a:link {
    color: pink;
}

a:visited {
    color: green;
}

a:hover {
    text-decoration: none;
}

.exemple-bloc {
    display: block;
    background-color: lightblue;
    padding: 10px;
}

.exemple-inline {
    display: inline;
    background-color: lightgreen;
    padding: 5px;
}

.exemple-inline-bloc {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: lightcoral;
    margin-right: 10px;
}

.exemple-none {
    display: none;
}

.exemple-flex {
    display: flex;
    /* justify-content: space-around; */


/*   gap: 10px;
    background-color: lightyellow;
}

.exemple-flex div {
    padding: 10px;
    background-color: lightblue;
}

.exemple-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    background-color: lightgray;
}

.exemple-grid div {
    padding: 15px;
    background-color: lightblue;
}

.exemple-table {
    display: table;
    width: 100%;
    background-color: lightgray;
}

.exemple-table-row {
    display: table-row;
}

.exemple-table-cell {
    display: table-cell;
    padding: 5px;
    background-color: rgb(20, 161, 207);
}


/*position:fixed(l'élément reste fixe sur la page)
background-size:cover (c'est pour couvrir tout l'arrière plan
git clone ensuite*/


/*.exemple {
    position: fixed;
    top: 20px;
    left: 30px;
}*/